<ul class="podium">
  <li class="podium__place" *ngFor="let winner of podium; let index = index">
    <div class="podium__block">
      <h3 class="podium__title">{{ index + 1 }}</h3>
      <svg class="podium__icon" width="40" height="40" viewBox="0 0 40 40">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M20 37C29.3888 37 37 29.3888 37 20C37 10.6112 29.3888 3 20 3C10.6112 3 3 10.6112 3 20C3 29.3888 10.6112 37 20 37ZM20 40C31.0457 40 40 31.0457 40 20C40 8.9543 31.0457 0 20 0C8.9543 0 0 8.9543 0 20C0 31.0457 8.9543 40 20 40Z" />
        <path fill-rule="evenodd" clip-rule="evenodd" d="M32.992 25.226C30.0497 25.8273 26.9161 25.8423 24.5 24.5C20 22 25 19 28 20.5C28 20.5 26.4884 15 20.4 15C16.7285 15 14.6884 17.1065 12.6246 19.2374C10.8969 21.0213 9.15255 22.8224 6.42053 23.4192C7.94639 29.4984 13.4475 34 20 34C25.8846 34 30.9212 30.3694 32.992 25.226Z" />
      </svg>
    </div>
    <div class="podium__person">
      <img src="http://localhost:1337{{ winner.athlete?.customer?.photo}}" alt="" class="podium__profil-picture">
      <a [routerLink]="['/customer', winner.athlete?.customer?.id]" class="podium__name">{{ winner.athlete?.customer?.firstName }} {{ winner.athlete?.customer?.lastName }}</a>
      <p class="podium__score">{{ winner.timer.toString().substring(0,5) }}</p>
    </div>
  </li>
</ul>
