@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.podium {
  display: grid;
  grid-template-columns: repeat(3, 12rem);

  @media (max-width: 480px) {
    grid-template-columns: repeat(3, auto);
  }

  &__person {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  &__profil-picture {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    margin-bottom: 1rem;
    border-radius: 50%
  }

  &__name {
    @include heading4;
    text-align: center;
    margin-bottom: 10px;
  }

  &__score {
    opacity: 0.5;
  }

  &__block {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @include heading3;

    margin-bottom: 0.25rem;
  }

  &__place {
    display: flex;
    flex-direction: column-reverse;

    &:nth-of-type(1) {
      transform: translateX(100%);

      .podium__block {
        background-color: $grey;
        height: 11rem;
      }

      .podium__icon {
        fill: #FFCC4A;
      }
    }

    &:nth-of-type(2) {
      transform: translateX(-100%);

      .podium__block {
        background-color: $dark-blue;
        height: 9rem;
      }

      .podium__title {
        color: white;
      }

      .podium__icon {
        fill: #D2F3FF;
      }
    }

    &:nth-of-type(3) {
      .podium__block {
        background-color: $red;
      }

      .podium__title {
        color: white;
      }

      .podium__icon {
        fill: #F88C5E;
      }
    }
  }
}
