@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__input {
    @include input;
  }

  &__button {
    @include button($dark-blue, white);
  }
}