<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form__group">
        <label for="username">Nom d'utilisateur</label>
        <input type="text" formControlName="username" placeholder="Votre nom d'utilisateur" class="form__input"/>
    </div>
    <div class="form__group">
        <label for="password">Mot de passe</label>
        <input type="password" formControlName="password" placeholder="********" class="form__input"/>
    </div>
    <button class="form__button">
      Se connecter
    </button>
    <a [routerLink]="['/register']">Vous n'avez pas encore de compte ?</a>
</form>

<!-- <form (ngSubmit)="onDisconect()">
    <button [disabled]="loading" class="btn btn-primary">
        disconect
    </button>
</form>

<form (ngSubmit)="check()">
    <button [disabled]="loading" class="btn btn-primary">
        check
    </button>
</form> -->