<main class="compet">
    <div class="competitions">
        <h2 class="competitions__title">Liste des compétitions passées</h2>
        <select *ngIf="limit" name="type" id="type-select" class="competitions__select">
            <option value="">Type</option>
            <option value="dog">Planche à voile</option>
            <option value="cat">Bateau</option>
        </select>
        <select *ngIf="limit" name="categorie" id="categorie-select" class="competitions__select">
            <option value="">Catégorie</option>
            <option value="dog">Pro</option>
            <option value="cat">Amateur</option>
        </select>
    </div>
    <div *ngIf="limit" class="competitions__search">
        <input type="text" id="compet" name="compet" placeholder="Nom d'une compétition..." class="competitions__recherche">
        <div class="competitions__btn">
            <img src="../../assets/icons/search.svg" alt="search">
        </div>     
    </div>
    <ng-container *ngIf="competitions" >
        <ul *ngIf="limit" class="competitions__list">
            <li *ngFor="let competition of competitions" class="competition">
              <app-race [race]="competition" [past]="true"></app-race>
            </li>
        </ul>
        <ul *ngIf="!limit" class="competitions__list">
            <li *ngFor="let competition of competitions" class="competition">
              <app-race [race]="competition" [past]="true"></app-race>
            </li>
        </ul>
    </ng-container>
</main>