<main class="main">
    <div class="wrapper">
        <app-return-previous></app-return-previous>
        <h2 class="plan__title">Liste des compétitions à venir</h2>
        <app-map class="plan"></app-map>
    </div>
</main>
