@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.footer{
    width: 100%;
    background-color: $grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $dark-blue;
    &__bandes--bleu {
      @include stripes($dark-blue);
    }
    &__name {
        @include heading3;
        display: flex;
        gap: 12px;
        align-items: center;
        margin-top: 40px;
    }
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 18px;
        &--secondaire {
            display: flex;
            justify-content: center;
            margin: 32px;
        }
        margin-bottom: 40px;
    }
}
