<footer class="footer">
    <div class="footer__bandes--bleu">
        <div class="footer__bandes--blanc"></div>
    </div>
    <div class="footer__name">
        <img src="../../../assets/icons/logo.svg" alt="Logo voilovent" class="footer__logo">
        <p class="footer__title">
            Voilovent
        </p>
    </div>
    <ul class="footer__list footer__list--principal">
        <li class="footer__subtitle">
            Application de gestion des skippers de haut-niveau
        </li>
        <li>
            <ul class="footer__list footer__list--secondaire">
                <li class="footer__mentionLegal">
                    Mentions légales
                </li>
                <!-- <li class="footer__deco">
                  <a [routerLink]="['/login']">Se connecter</a>
                </li> -->
            </ul>
        </li>
    </ul>
</footer>
