<main class="main">
  <div class="wrapper">
    <div class="profil__header">
      <figure class="profil">
        <img *ngIf="!customer.firstName" src="../../../assets/images/1.jpg" alt="" class="profil__picture">
        <img *ngIf="customer.firstName" src="http://localhost:1337{{ customer.photo }}" alt="" class="profil__picture">
        <figcaption class="profil__figcaption">
          <h1 class="profil__topname">Bienvenue,</h1>
          <h2 class="profil__name" *ngIf="customer.firstName">{{ customer.firstName }} {{ customer.lastName }}</h2>
          <h2 class="profil__name" *ngIf="!customer.firstName">John Doe</h2>
        </figcaption>
      </figure>
      <a class="profil__voir" [routerLink]="['/customer', customer.id]">
        Voir son profil
      </a>
    </div>
    <app-competitions [limit]="false" ></app-competitions>
    <div class="profil__voir">
      <div class="profil__trait"></div>
      <a class="profil__btn"  [routerLink]="['/competitions']" >Voir plus</a>
    </div>
    <app-competitions-past [limit]="false" ></app-competitions-past>
    <div class="profil__voir">
      <div class="profil__trait"></div>
      <a class="profil__btn" [routerLink]="['/competitions/past']">Voir plus</a>
    </div>
    <section class="map-section">
      <div class="map-section__wrapper">
        <h2 class="map-section__title">Location des courses</h2>
        <app-map></app-map>
      </div>
    </section>
    <h2 class="profil__title">Classement de la dernière course</h2>
    <div class="podium">
      <app-podium [podium]="podium"></app-podium>
    </div>
    <ul class="rankings" *ngIf="rankings">
      <li class="rankings__name">
        <p>Classement</p>
        <p>Temps</p>
        <p>Nom</p>
      </li>
      <li *ngFor="let ranking of rankings" class="rankings__item">
          <p>{{ ranking.rank }}</p>
          <p>{{ ranking.timer.toString().substring(0,5) }}</p>
          <a [routerLink]="['/customer', ranking.athlete?.customer?.id]">{{ ranking.athlete?.customer?.firstName }} {{ ranking.athlete?.customer?.lastName }}</a>
      </li>
    </ul>
  </div>
</main>
