<app-return-previous></app-return-previous>
<div *ngIf='competition' class="competition">
  <div class="competition__topBar">
    <div class="competition__container">
      <h2 class="competition__title">{{ competition.name }}</h2>
      <div class="competition__content">
        <p class="competition__place">
          <img src="../../../assets/icons/map.png">
          {{ competition.place }}
        </p>
        <p class="competition__type"><span>Type : </span>{{ competition.type.name }}</p>
        <p class="competition__categorie"><span>Catégorie :</span> {{ competition.isPro ? 'Pro' : 'Amateur' }}</p>
      </div>
    </div>
    <div class="competition__dateContainer">
      <p class="competition__date"><span>Début : </span>{{ competition.dateStart | date: 'dd MMM yyyy' }}</p>
      <p class="competition__date"><span>Fin : </span>{{ competition.dateEnd | date: 'dd MMM yyyy' }}</p>
    </div>
  </div>
  <div class="competition__wrapper">
    <app-podium [podium]="podium"></app-podium>
    <ul class="rankings" *ngIf="competition.rankings">
        <li class="rankings__name">
          <p>Classement</p>
          <p>Temps</p>
          <p>Nom</p>
        </li>
        <li *ngFor="let ranking of rankings" class="rankings__item">
            <p>{{ ranking.rank }}</p>
            <p>{{ ranking.timer.toString().substring(0,5) }}</p>
            <a [routerLink]="['/customer', ranking.athlete?.customer?.id]">{{ ranking.athlete?.customer?.firstName }} {{ ranking.athlete?.customer?.lastName }}</a>
        </li>
    </ul>
    </div>
</div>
