@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";


.first-section {
  position: relative;

  &__image {
    width: 100%;
    height: 32rem;
    object-fit: cover;

    @media (max-width: 480px) {
      height: 24rem;
    }
  }

  &__gradient {
    position: absolute;
    inset: 0;
    background-image: linear-gradient(rgba(white, 0.5), transparent, rgba($dark-blue, 0.75));
  }

  &__hero {
    position: absolute;
    inset: auto 0 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }

  &__small {
    @include heading2;
  }

  &__big {
    @include heading1;
  }

  &__underlined {
    text-decoration: underline;
  }
}

.separator {
  position: relative;

  &__stripes {
    @include stripes($red);
  }

  &__medal {
    position: absolute;
    top: -1rem;
    left: 50%;
    transform: translateX(-50%);
    height: calc(100% + 2rem);
    aspect-ratio: 1 / 1;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 0.75rem $dark-blue;

    &::before {
      content: "";
      position: absolute;
      width: 90%;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      border: solid 0.4rem $dark-blue;
    }
  }

  &__text {
    display: flex;
  }

  &__number {
    @include heading1;
  }

  &__indice {
    @include heading4;

    margin-top: 0.25em;
  }
}

.login-section {
  padding: 6rem 0;
  display: flex;
  justify-content: center;

  @media (max-width: 480px) {
    padding: 4rem 2rem;
  }

  &__wrapper {
    width: 52rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;

    @media (max-width: 480px) {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }

  &__article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__title {
    @include heading2;
  }
}

.article {
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  background-color: $grey;

  &__figure {
    max-width: 72rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: 480px) {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__figcaption {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    padding-right: 6rem;

    @media (max-width: 480px) {
      padding: 4rem 2rem 0;
    }
  }

  &__title {
    @include heading2;
  }

  &__button {
    @include button($dark-blue, white);
  }

  &__image-container {
    position: relative;

    @media (max-width: 480px) {
      padding: 0 2rem;
    }
  }

  &__image--1 {
    position: absolute;
    width: 16rem;
    top: -6rem;
    right: -2rem;

    @media (max-width: 480px) {
      width: 40vw;
      right: 0;
    }
  }

  &__image--2 {
    position: absolute;
    width: 12rem;
    bottom: -6rem;
    left: -4rem;

    @media (max-width: 480px) {
      width: 25vw;
      bottom: -2rem;
      left: 1rem;
    }
  }
}

.map-section {
  padding: 6rem 0 0;
  display: flex;
  justify-content: center;

  @media (max-width: 480px) {
    padding: 4rem 2rem;
  }

  &__wrapper {
    width: 72rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 480px) {
      width: 100%;
    }
  }

  &__title {
    @include heading2;

    margin-bottom: 2rem;
  }
}

.second-section {
  padding: 8rem 0;
  display: flex;
  justify-content: center;

  @media (max-width: 480px) {
    padding: 4rem 2rem;
  }

  &__wrapper {
    max-width: 72rem;
  }

  &__title {
    @include heading2;

    text-align: center;
    margin-bottom: 4rem;
  }
}

.rankings {
  display: flex;
  flex-direction: column;
  margin-top: 50px;

  &__name, &__item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px;

    p {
      padding: 0 15px;
    }
  }

  &__name {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
  }

  &__item {
    text-align: center;
    align-items: center;
    transition: all 300ms ease-in-out;

    &:nth-of-type(2n) {
      background-color: $grey;
    }

    &:hover {
      background-color: $red;
      color: #FFF;
    }
  }
}

.podium {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
