<main>
  <section class="first-section">
    <img src="../../../assets/images/1.jpg" alt="" class="first-section__image">
    <div class="first-section__gradient"></div>
    <h1 class="first-section__hero">
      <span class="first-section__small">Obtenez un</span>
      <span class="first-section__big">suivi personnalisé</span>
      <span class="first-section__small">de vos</span>
      <span class="first-section__big"><span class="first-section__underlined">performances</span> de <span class="first-section__underlined">voile</span></span>
    </h1>
  </section>
  <section class="separator">
    <div class="separator__stripes"></div>
    <div class="separator__medal">
      <div class="separator__text">
        <p class="separator__number">1</p>
        <p class="separator__indice">er</p>
      </div>
    </div>
  </section>
  <section class="login-section">
    <div class="login-section__wrapper">
      <article class="login-section__article">
        <h2 class="login-section__title">Connexion</h2>
        <p class="login-section__paragraph">Connectez-vous pour accéder à toutes vos données, aux compétitions à venir, mais aussi au profil des autres compétiteurs.</p>
      </article>
      <app-login></app-login>
    </div>
  </section>
  <article class="article">
    <figure class="article__figure">
      <figcaption class="article__figcaption">
        <h2 class="article__title">Pourquoi Voilovent ?</h2>
        <p class="article__paragraph">Arcu vitae, gravida diam faucibus. Nunc viverra pharetra mauris sed duis. Tellus, tempus, sed urna ultrices faucibus porttitor tincidunt. Lectus vulputate orci nullam rhoncus tristique.</p>
        <p class="article__paragraph">Egestas vitae purus aenean enim, nascetur nec adipiscing posuere. In varius mauris, amet, odio vitae, leo tempus. Viverra sed ultricies justo aliquam elit.</p>
        <button class="article__button">Se connecter maintenant</button>
      </figcaption>
      <div class="article__image-container">
        <img src="../../../assets/images/2.jpg" alt="" class="article__image">
        <img src="../../../assets/images/3.jpg" alt="" class="article__image article__image--1">
        <img src="../../../assets/images/4.jpg" alt="" class="article__image article__image--2">
      </div>
    </figure>
  </article>
  <section class="map-section">
    <div class="map-section__wrapper">
      <h2 class="map-section__title">Location des courses</h2>
      <app-map></app-map>
    </div>
  </section>
  <section class="second-section">
    <div class="second-section__wrapper">
      <h2 class="second-section__title">Classement de la dernière course</h2>
      <div class="podium">
        <app-podium [podium]="podium"></app-podium>
      </div>
      <ul class="rankings" *ngIf="rankings">
        <li class="rankings__name">
          <p>Classement</p>
          <p>Temps</p>
          <p>Nom</p>
        </li>
        <li *ngFor="let ranking of rankings" class="rankings__item">
            <p>{{ ranking.rank }}</p>
            <p>{{ ranking.timer.toString().substring(0,5) }}</p>
            <a [routerLink]="['/customer', ranking.athlete?.customer?.id]">{{ ranking.athlete?.customer?.firstName }} {{ ranking.athlete?.customer?.lastName }}</a>
        </li>
      </ul>
    </div>
  </section>
</main>
