@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.main {
  padding: 6rem 0;
}

.profil {
  display: flex;
  align-items: center;
  gap: 2rem;

  &__picture {
    width: 8rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
  }

  &__topname {
    @include heading4;
  }

  &__name {
    @include heading1;
  }
}