@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.header {
    height: 72px;
    display: flex;
    margin: 0 32px;
    justify-content: space-between;
    align-items: center;
    &__logo {
      @media (max-width: 480px) {
        width: 3rem;
      }
    }
    &__name {
        @include heading3;
        display: flex;
        gap: 12px;
        align-items: center;
    }
    &__connexion {
        display: flex;
        gap: 16px;
        align-items: center;
    }
    &__img {
        height: 46px;
        width: 46px;
        border-radius: 50%;
        object-fit: cover;
    }

    &__admin {
      padding: 0.5em 0.75em;
      border-radius: 0.5rem;
      background-color: rgba($blue, 0.1);
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: rgba($blue, 0.15);
      }
    }
} 