@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.main {
  padding: 6rem 0;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 72rem;
}

.hero {
  @include heading1;
}

.title {
  @include heading2;

  margin: 4rem 0 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__label {
    width: 100%;

    p {
      margin-bottom: 1rem;
    }
  }

  &__input,
  &__select {
    @include input;
  }

  &__wrapper {
    display: flex;
    gap: 2rem;
  }

  &__button {
    @include button($dark-blue, white);

    margin: 0 auto;
  }
}

.competitions {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}