<main class="main">
  <div class="wrapper">
    <h1 class="hero">Administration</h1>
    <h2 class="title">Liste des compétitions à venir</h2>
    <ng-container *ngIf="competitions">
        <ul class="competitions__list">
            <li *ngFor="let competition of competitions" class="competition">
              <app-race [race]="competition" [admin]="true"></app-race>
            </li>
        </ul>
    </ng-container>
    <h2 class="title">Créer une compétition</h2>
    <form [formGroup]="form" (ngSubmit)="submit()" class="form">
      <label class="form__label" for="title">
        <p>Titre</p>
        <input formControlName="name" class="form__input" type="text" name="title" id="title" placeholder="Titre" required>
      </label>
      <div class="form__wrapper">
        <label class="form__label" for="place">
          <p>Lieu</p>
          <input formControlName="place" class="form__input" type="text" name="place" id="place" placeholder="Lieu" required>
        </label>
        <label class="form__label" for="date">
          <p>Date</p>
          <input formControlName="date" class="form__input" type="date" name="date" id="date" required>
        </label>
      </div>
      <div class="form__wrapper">
        <label class="form__label" for="type">
          <p>Type</p>
          <select formControlName="type" class="form__select" name="type" id="type" required>
              <option *ngFor="let type of types" [ngValue]="type.id">{{ type.name }}</option>
          </select>
        </label>
        <label class="form__label" for="categorie">
          <p>Catégorie</p>
          <select formControlName="isPro" class="form__select" name="categorie" id="categorie" required>
              <option [ngValue]="true">Pro</option>
              <option [ngValue]="false">Amateur</option>
          </select>
        </label>
      </div>
      <input class="form__button" type="submit" value="Envoyer">
    </form>
  </div>
</main>