<div class="card">
    <h4 class="card-header">Login</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">Email</label>
                <input type="text" formControlName="username" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control"/>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                    Login
                </button>
            </div>
        </form>

        <form (ngSubmit)="onDisconect()">
            <button [disabled]="loading" class="btn btn-primary">
                disconect
            </button>
        </form>

        <form (ngSubmit)="check()">
            <button [disabled]="loading" class="btn btn-primary">
                check
            </button>
        </form>
    </div>
</div>