<main class="main">
  <div class="wrapper">
    <h4 class="hero">S'inscrire</h4>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
          <div class="form__wrapper">
            <div class="form__group">
              <label for="firstname">Prénom</label>
              <input type="text" formControlName="firstname" class="form__input" placeholder="Votre prénom"/>
            </div>
            <div class="form__group">
              <label for="lastname">Nom</label>
              <input type="text" formControlName="lastname" class="form__input" placeholder="Votre nom"/>
            </div>
          </div>
            <div class="form__group">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" formControlName="username" class="form__input" placeholder="Votre nom d'utilisateur"/>
            </div>
            <div class="form__group">
                <label for="email">Votre adresse mail</label>
                <input type="email" formControlName="email" class="form__input" placeholder="Votre adresse mail"/>
            </div>
            <div class="form__group">
                <label for="password">Mot de passe</label>
                <input type="password" formControlName="password" class="form__input" placeholder="********"/>
            </div>
            <button class="form__button">
              S'inscrire
            </button>
        </form>
  </div>
</main>
