
<div class="race">
  <a [routerLink]="['../competition', race.id]">
  <div class="race__content">
    <div class="race__main">
      <h3 class="race__name">
        {{ race.name }}
      </h3>
      <ul class="race__list">
        <li class="race__item">
          Type : {{ race.type['name'] }}
        </li>
        <li class="race__item">
          Catégorie : {{ race.isPro ? 'Pro' : 'Amateur'}}
        </li>
      </ul>
    </div>
    <ul class="race__dates">
      <li class="race__date">
        {{ race.place }}, le {{ race.dateStart | date:'dd/MM/yyyy' }}
      </li>
      <li class="race__date" *ngIf="!past">
        Fin le {{ race.dateEnd | date:'dd/MM/yyyy' }}
      </li>
      <li class="race__date" *ngIf="past">
        <img src="../../../assets/icons/clock.svg" alt="" class="race__clock">
        {{ race.rankings.data[0].attributes.timer.toString().substring(0,5)}}
      </li>
    </ul>
  </div>
  </a>
  <a class="race__details" (click)="join()">
    {{ admin ? 'Détails' : past ? 'Voir' : registered ? 'Inscrit' : 'S\'inscrire' }}
    <div class="race__number-container" *ngIf="past">
      <p class="race__number">{{ race.rankings.data[0].attributes.rank }}</p>
      <p class="race__indice">{{ race.rankings.data[0].attributes.rank === 1 ? 'er' : 'e' }}</p>
    </div>
  </a>
</div>

