@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.race {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    background-color: $grey;

    &__main {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    &__content {
        padding: 1.5rem;
        display: flex;
        gap: 32px;
    }
    &__name {
      @include heading4;
    }
    &__list {
        display: flex;
        gap: 16px;
    }
    &__dates {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $light-blue;
        font-weight: 300;
    }
    &__details {
        @include button($dark-blue, white);

        border-radius: 0px 8px 8px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10rem;
        position: relative;
    }

    &__clock {
      width: 1.25rem;
    }

    &__date {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    &__number-container {
      position: absolute;
      right: 100%;
      transform: translateX(50%);
      width: 4rem;
      aspect-ratio: 1 / 1;
      background-color: white;
      color: $blue;
      border: solid 0.25rem currentColor;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__number {
      @include heading4;
    }

    &__indice {
      padding-bottom: 0.5em;
    }
}
