@mixin heading1 {
  font-size: 4rem;
  font-weight: 600;

  @media (max-width: 480px) {
    font-size: 2.5rem;
  }
}

@mixin heading2 {
  font-size: 3rem;
  font-weight: 600;

  @media (max-width: 480px) {
    font-size: 2rem;
  }
}

@mixin heading3 {
  font-size: 2rem;
  font-weight: 600;

  @media (max-width: 480px) {
    font-size: 1.5rem;
  }
}

@mixin heading4 {
  font-size: 1.5rem;
  font-weight: 600;

  @media (max-width: 480px) {
    font-size: 1rem;
  }
}

@mixin stripes($color) {
  width: 100%;
  height: 6rem;
  position: relative;
  background-color: $color;

  &::before {
    content: "";
    position: absolute;
    inset: 33% 0;
    background-color: white;
  }
}

@mixin button($color, $text) {
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background-color: $color;
  color: $text;
  font-weight: 600;
  width: fit-content;
  outline: 4px solid transparent;
  transition: background-color 0.2s ease-in-out, outline 0.2s ease-in-out;

  &:hover {
    background-color: lighten($color, 10);
  }

  &:focus {
    outline-color: lighten($color, 50);
  }
}

@mixin input {
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  background-color: $grey;
  width: 100%;
  outline: solid 2px transparent;
  transition: outline 0.2s ease-in-out;

  &::placeholder {
    color: rgba($dark-blue, 0.5);
  }

  &:focus {
    outline-color: $dark-blue;
  }
}
