@import "reset.scss";
@import "mixins.scss";
@import "variables.scss";

body {
  font-family: Jost, sans-serif;
  color: $dark-blue;
  font-size: 1.125rem;

  @media (max-width: 480px) {
    font-size: 0.875rem;
  }
}

.main {
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 72rem;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
